<div class="help-center-container" [dir]="getDirection()">
  <!-- TEST: Version mismatch fixed - Arrow Animation - SUCCESS! -->
  <app-arrow-animation
    [showArrowAnimation]="showArrowAnimation"
    [isPopupOpen]="isPopupOpen"
    [messageLabel]="messageLabel"
    (closeArrowAnimation)="handleCloseArrowAnimation()"
    [isVisible]="isArrowVisible"
  ></app-arrow-animation>

  <!-- Help Button -->
  <app-help-button
    [isVisible]="isButtonVisible"
    (togglePopup)="handleTogglePopup()"
  ></app-help-button>

  <!-- Help Popup -->
  <app-help-popup
    [isPopupOpen]="isPopupOpen"
    [showHelpScreenData]="showHelpScreenData"
    [showChat]="showChat"
    [status]="status"
    [error]="error"
    [helpScreenData]="helpScreenData"
    [messages]="messages"
    [needsAgent]="needsAgent"
    [assistantStatus]="assistantStatus"
    [isAblyConnected]="isAblyConnected"
    [isChatClosed]="isChatClosed"
    [currentLang]="currentLang"
    [chatIsLoading]="chatIsLoading"
    [sessionId]="sessionId"
    [isIntroScreenEnabled]="isIntroScreenEnabled"
    [selectedOption]="selectedOption"
    [selectedNestedOption]="selectedNestedOption"
    [showEndChatConfirmation]="showEndChatConfirmation"
    [showStartNewChatConfirmation]="showStartNewChatConfirmation"
    [showReviewDialog]="showReviewDialog"
    [isSubmittingReview]="isSubmittingReview"
    [avatarUrl]="avatarUrl"
    (closePopup)="handleClosePopup()"
    (back)="handleBack()"
    (showChatEvent)="handleShowChat()"
    (endChat)="handleEndChat()"
    (confirmEndChat)="confirmEndChat()"
    (cancelEndChat)="cancelEndChat()"
    (confirmStartNewChat)="confirmStartNewChat()"
    (cancelStartNewChat)="cancelStartNewChat()"
    (reviewSubmit)="handleReviewSubmit($event)"
    (reviewSkip)="handleReviewSkip()"
    (sendMessageEvent)="sendMessage($event)"
    (startNewChat)="handleStartNewChat($event)"
    (showHelpScreenDataEvent)="handleShowHelpScreenData()"
    (hideHelpScreenData)="handleHideHelpScreenData()"
    (navigateToUrl)="navigateToUrl($event)"
  >
  </app-help-popup>
</div>
