@use "../../scss/variables" as *;

.help-center-container {
  position: fixed;
  bottom: spacing("5");
  right: spacing("5");
  z-index: z("1000");
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

::ng-deep {
  .babylai-p-6 {
    padding: spacing("6") !important;
  }

  .babylai-p-8 {
    padding: spacing("8") !important;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
