@use "../../../../scss/variables" as *;

// Chat Header
.chat-header {
  padding: spacing("4");
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black-white("50");
  border-radius: $radius-3xl $radius-3xl 0 0;
  position: relative;

  &__actions {
    display: flex;
    align-items: center;
    gap: spacing("2");
  }

  &__button {
    background-color: rgba(primary("500"), 0.1) !important;
    width: spacing("8");
    height: spacing("8");
    padding: spacing("2") !important;

    &:hover {
      background-color: rgba(primary("700"), 0.1) !important;
    }

    img {
      width: 100%;
      height: 100%;

      &.rtl {
        transform: rotate(180deg) !important;
      }
    }
  }

  &__menu {
    position: relative;

    &-dropdown {
      position: absolute;
      margin-top: spacing("2");
      width: 12rem; // 48 * 0.25rem
      border-radius: $radius-lg;
      box-shadow: shadow("minimal");
      background-color: color("pure-white");
      border: 1px solid rgba(0, 0, 0, 0.05);
      z-index: z("50");

      &-content {
        border-radius: $radius-lg;
      }

      &.rtl {
        right: 0;
      }

      &.ltr {
        left: 0;
      }
    }

    &-button {
      display: block;
      width: 100%;
      padding: spacing("4") spacing("2");
      font-size: font-size("sm");
      color: #374151; // gray-700

      &:hover {
        background-color: #f3f4f6; // gray-100
      }

      &.rtl {
        text-align: right;
      }

      &.ltr {
        text-align: left;
      }
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    gap: spacing("1");
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    img {
      width: spacing("10");
      height: spacing("10");
    }

    p {
      font-size: font-size("base");
      font-weight: weight("bold");
      color: black-white("600");
    }
  }
}
