@use '../../scss/variables' as *;

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &__messages {
    flex: 1;
    overflow-y: auto;
    padding-bottom: spacing('4');
    display: flex;
    flex-direction: column;
    gap: spacing('4');
  }

  &__message-group {
    display: flex;
    flex-direction: column;
    gap: spacing('2');
  }

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

}

