@use '../../../../scss/variables' as *;

.chat__avatar {

  &--hidden {
    visibility: hidden;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: spacing('8');
    height: spacing('8');
    border-radius: $radius-full;
    padding: spacing('2');

    &--assistant {
      background-color: primary('default');
    }

    &--agent {
      background-color: black-white('50');
    }
  }

  &-image {
    width: 100%;
    color: primary('500');
  }
}
