@use '../../../../scss/variables' as *;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: spacing('2') spacing('8');

  .footer-link {
    font-size: font-size('xs');
    color: var(--card-foreground);
    width: size('full');
    text-align: center;
    font-weight: weight('bold');

    &.light-text {
      color: var(--card-foreground);
    }
  }
}
